/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar styles */
#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #becad6;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 11.5vh;
    z-index: 1000;
}

/* Styles for navigation links */
.nav-links {
    display: flex;
    margin: 10px;
}

.nav-links button a {
    text-decoration: none;
    color: black;
}

/* Styles for profile picture */
#profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 11.5vh;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bolder;
    font-size: 23px;

}


/* Styles for profile heading */
#profile-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

}

/* Styles for buttons */
.buttons {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.buttons:hover {
    background-color: #0a8caaac;
}

/* Styles for blurred background image */
#blurred-image {
    background-image: url('images/coding-background-9izlympnd0ovmpli.jpg');
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    padding: 20px;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    opacity: 0.9;

}

/* Styles for main content */
main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    flex-direction: column;
}

/* Styles for header text */
.header-text {
    color: white;
}

/* Styles for introduction section */
#intro {
    opacity: 1;
    text-align: center;
    padding: 50px 0;
    background-color: #100d0d51;
}

#intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#intro p {
    font-size: 1.2em;
    color: white;
}

/* Styles for sections */
section {
    padding: 50px;
}

/* Styles for dropdown button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Styles for dropdown container */
.dropdown {
    position: relative;
    display: none;
}

/* Styles for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styles for dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Styles for dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/**************************************************************************************************************** 
Portfolio styles Start
****************************************************************************************************************/
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: auto;
    width: 100%;
}

.showcase {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 0.8s forwards;
}

.showcase img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.showcase h2 {
    margin: 10px 0;
}

.showcase p {
    color: #777;
}

.showcase .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
}

.showcase .btn:hover {
    background: #0056b3;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.showcase:nth-child(1) {
    animation-delay: 0.5s;
}

.showcase:nth-child(2) {
    animation-delay: 1s;
}

.showcase:nth-child(3) {
    animation-delay: 1.5s;
}

/**************************************************************************************************************** 
Portfolio styles End
****************************************************************************************************************/


/* Media query for small screens */
@media only screen and (max-width: 600px) {

    /* Hide navigation links */
    .nav-links {
        display: none;
    }

    /* Show dropdown button */
    .dropdown {
        display: inline-block;
    }

    /* Show the projects column wise */
    .portfolio-container {
        flex-direction: column;
    }


}

@media (max-width: 768px) {
    .showcase {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .showcase {
        width: calc(100% - 40px);
    }
}